body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        color:rgb(255, 255, 255);
}

#icon{
    width: 70px;
    height: 90px;
}

#noticias{
    border-radius: 40px;
    flex-wrap: wrap;
    display: flex ;
    justify-content: space-around;
}

.noticias{
    margin: 10px;
    text-align: center;
border-radius: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
   
}

.img_noticias{
    height: 270px;
    border-radius: 30px;
    width: 275px;
}

.escalacao{
    color: white;
}

footer {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img_jogadores{
    height: 100px;
}