body{

    margin: 0;
    background-color: rgb(0, 0, 0);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        color:rgb(255, 255, 255);
}

#icon{
    width: 70px;
    height: 90px;
}

#noticias{
    border-radius: 40px;
    flex-wrap: wrap;
    display: flex ;
    justify-content: space-around;
}

.noticias{
    margin: 10px;
    text-align: center;
border-radius: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
   
}

.img_noticias{
    height: 270px;
    border-radius: 30px;
    width: 275px;
}




footer {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.campo{
    position: relative;
    width: 450px;
    height: 600px;
    margin: 0 auto;

    background-image: url(assets/campo_de_futebol.png2.webp);
    background-size: cover;
    background-position: center;
}

.icon_jogador {
    width: 80px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.goleiro {
    top: 90%;
    left: 50%;
}

/* ZAGUEIROS */
.zagueiro1 {
    top: 75%;
    left: 35%;
}

.zagueiro2 {
    top: 75%;
    left: 65%;
}

/* LATERAIS */
.lateral1 {
    top: 75%;
    left: 15%;
}

.lateral2 {
    top: 75%;
    left: 85%;
}

/* MEIAS */
.meia1 {
    top: 50%;
    left: 30%;
}

.meia2 {
    top: 55%;
    left: 50%;
}

.meia3 {
    top: 50%;
    left: 70%;
}

/* ATACANTES */
.atacante1 {
    top: 30%;
    left: 30%;
}

.atacante2 {
    top: 15%;
    left: 50%;
}

.atacante3 {
    top: 30%;
    left: 70%;
}

main h1{
    color: rgb(214, 169, 20);
    text-align: center;
}

#gif1{
    right: 0px;
    bottom: -140px;
    position: absolute;
}

#gif{
    left: 0px;
    bottom: -140px;
    position: absolute;
}




